*.a
*.cache
*.la
*.lai
*.lo
*.log
*.o
*.pc
*.plist
*.pyc
*.so
*.so.*
*.status
*.tar.gz
*.trs
*_test
*~
.*.sw?
.deps
.dirstamp
.libs
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/ca-cas
/ca-cas-balancerd
/ca-cas-fsck
/ca-cas-prune-packed
/ca-casd
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/generated
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/tmp
/ylwrap
core
core.*
stamp-h[0-9]*
vgcore.*
